.app__admin{
    padding-bottom: 45px;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background-color: #1a2035;
    h1{
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }
    }


.form_title{
    color: black;
}


.form_label{
    color: black;
    text-transform: capitalize !important;
    font-size: 1.2rem !important;
    margin-bottom: 8px !important  ; 
}
.form_input:not(input[type=file],input[type=number]){
    width: 100%;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
}

.form_buttons{
    clear: both;
    cursor: pointer;
    padding: 8px 25px;
    letter-spacing: .9px;
    position: absolute;
    right: 2rem;
    &-right{
        left: 2rem;
    }
}

