
.footer__social svg{
    color: rgba(255, 255, 255, 0.644);
}

  body .footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--primary-color);
    filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--primary-color);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  body .footer .content {
    padding: 6rem 0 2rem;
    background: var(--primary-color);
    z-index: 2;
  }
  body .footer .content .container {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    color: #fff;
  }
  
  .content h2 {
    margin-bottom: .25rem;
    font-size: 2.25rem;
  }
  
  .content span {
    font-size: .875rem;
  }
  
  .footer__links  {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    transition: all 150ms ease-out;
  }
  
  .footer__links .footer-link {
    transition: all 150ms ease-out;
    display: inline-block;
  }
  
  .footer__link:hover:after {
      width: 100%;
  }
  
  .footer__link:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      background-color: #fff;
      transition: width .25s ease-out;
  }
  
  .footer__social {
    font-size: 1.25rem;
    margin-right: 1.5rem;
  }
  .footer__social:hover {
    opacity: 0.8;
  }
  
  .footer__copy {
    text-align: center;
    background:var(--primary-color);
    font-size: .875rem;
    text-align: center;
    color: #dcdcdc;
    padding: 1.5rem 0 3rem;
  }
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
