.app__header{
    padding:80px 125px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(228, 228, 228, 0.185);
    height:500px;
    width: 100%;
}
.app__header-left h1{
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: black;
    padding-bottom: 25px;
    font-weight: bold;
}

.app__header-left h1 span{
    color: var(--primary-color);
}

.app__header-left p{
    font-size: 1.3rem;
    max-width: 50%;
    color: var(--secondary-color);
    padding-bottom: 25px;
}

.app__header-right {
    width: 100%;
    position: absolute;
    top: 0;
    left:630px;
}
.app__header-right img{
    width: 1055px;
    height: 550px;
}